@import "../styles/main";

.NewProduct {
  &-Button {
    display: flex;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-top: $middleGap;
    justify-content: center;
    padding: $smallGap;
    border-radius: $middleGap;
    @include fontSize(21px, 700);
    background-color: $activeColor;
    color: $textColor;
  }

  &-Form {
    display: flex;
    flex-direction: column;
    border: 1px solid $borderColor;
    box-shadow: 0 4px 4px 0 $borderColor;
    border-radius: 5px;
    padding: $middleGap;
    margin-top: $bigGap;
    background-color: $formColor;
  }
}

.hidden_form {
  display: none;
}

.Form-Item {
  margin-bottom: $middleGap;
  @include fontSize(17px, 600);
  color: $textColor;
}

.Form-Item:nth-child(1),
.Form-Item:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Form-Item:nth-child(4) {
  display: flex;
  align-items: center;
}

.Form-Item:nth-child(5) {
  margin-bottom: 0;
}

.input {
  width: 75%;
  padding: $smallGap / 2;
  font-family: inherit;
  @include fontSize(15px, 400);
  color: $textColor;
  outline: none;
  border: 1px solid $titleColor;
  border-radius: 3px;
  
  &_valid {
    color: $activeColor;
  }

  &::placeholder {
    color: $buttonColor;
    font-family: inherit;
  }

  &-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &-container:nth-child(4) {
    display: flex;
    align-self: flex-start;
  }
}

.error {
  align-self: flex-end;
  padding-bottom: $smallGap / 2;
  color: $errorColor;
  font-style: italic;
  font-size: 12px;
}

.invalid {
  border: 1px solid $errorColor;
}

.valid {
  border: 1px solid $activeColor;
}

.description {
  resize: none;
  padding: 5px;
  width: 100%;
}

.button-image {
  margin-left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid $textColor;
  background-image: url('../images/plus.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.button_checked {
  background-image: url('../images/plus-active.svg');
  background-color: $textColor;
}

.NewProduct-Button:disabled {
  color: $textColor;
  border: 1px solid $textColor;
  background-color: $buttonColor;
}

@media (max-width: $breakPointMobile) {
  .Form {
    max-width: 400px;
    margin: auto;
    margin-top: $bigGap;
  }

  .NewProduct {
    &-Button {
      max-width: 350px;
    }
  }
}
