@import "../styles/main";

.Products {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: $gap;
}

.product_error {
  display: none;
}

.Error {
  color: $textColor;
  background-color: $formColor;
  border-radius: 3px;
  box-shadow: 0 4px 4px 0 $errorColor;
  margin: 15% auto;
  text-align: center;
  @include fontSize(20px, 600);
  border: 1px double rgba(235, 86, 86, 0.8);
  width: 250px;
  padding: 20px;
  white-space: nowrap;
}

.Product {
  display: flex;
  width: 400px;
  height: 250px;
  padding: $bigGap / 2;
  border: 1px solid $borderProductColor;
  border-radius: 2px;
  box-shadow: 0 4px 4px 0 #c0bdbd40;
  transition: transform 0.3s;
  cursor: pointer;

  &:hover {
    transform: scale(1.08);
  }

  &-Content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 60%;
    padding-left: $bigGap / 2;
  }

  &-Name {
    @include fontSize(20px, 700);
    color: $titleColor;
    text-align: left;
    height: 48px;
  }

  &-Price {
    @include fontSize(19px, 600);
    color: $titleColor;
    text-align: left;
    margin-top: $smallGap;
    margin-bottom: $smallGap;
    position: relative;
  }

  &-Description {
    @include fontSize(14px, 400);
    color: $contentColor;
    box-sizing: content-box;
    text-align: left;
  }
}

.currency {
  @include fontSize(17px, 600);
  color: $activeColor;
  position: absolute;
  bottom: 25%;
}

.Product-Photo {
  width: 180px;
  height: 180px;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;

  @each $image in "1","2","3","4","5", "6","7","8","9","10","product" {
    &_img_#{$image} {
      background-image: url("../images/#{$image}.jpg");
    }
  }
}

@media(max-width: $breakPointMobile) {
  .Products {
    grid-template-columns: repeat(auto-fill, 300px);
  }

  .Product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 400px;

    &-Name {
      margin-top: $bigGap / 2;
    }

    &-Content {
      width: 100%;
      height: 50%;
    }
  }

  .photo {
    width: 100%;
    height: 50%;
  }

  .Error {
    margin: 0 auto;
  }
}
