@import "../styles/main";

.Scroll {
  position: fixed;
  bottom: 120px;
  right: 3vw;
  width: 48px;
  height: 48px;
  background-color: $textColor;
  border-radius: 50%;
  &::after {
    position: absolute;
    right: 0;
    content: url("../images/scroll.svg");

    @media (max-width: $breakPointMobile) {
      content: url("../images/scroll-small.svg");
    }
  }
}

@media (max-width: $breakPointMobile) {
  .Scroll {
    width: 40px;
    height: 40px;
    right: 5vw;
    bottom: 100px;
  }
}
