html,
body {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  font-family: "Inter", sans-serif;
}

div,
p,
a,
span,
h1,
h2,
h3,
img,
input,
button {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input,
button {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}
