$breakPointTablet: 1067px;
$breakPointMobile: 767px;
$breakPointMobileSmall: 395px;
$backgroundColor: #fff;
$priceColor: #0db2b3;
$activeColor: #e4b621;
$textColor: #131313;
$titleColor: #2d3748;
$contentColor: #718096;
$borderColor: #e8e7e7;
