$breakPointTablet: 1067px;
$breakPointMobile: 767px;
$breakPointMobileSmall: 395px;
$backgroundColor: #fff;
$priceColor: #0db2b3;
$activeColor: #e4b621;
$textColor: #131313;
$titleColor: #2d3748;
$contentColor: #718096;
$borderColor: #d3d3d3;
$borderProductColor: #e8e7e7;
$formColor: #f2f2f2;
$buttonColor: #d0d0d0;
$errorColor: #f00;
$smallGap: 10px;
$middleGap: 20px;
$bigGap: 30px;
$gap: 40px;
