@import "../styles/main";

.Options {
  &-InputsPrice {
    display: flex;
    justify-content: space-between;
  }

  &-TitlePrice,
  &-TitleCurrency,
  &-TitleSorting {
    margin-bottom: $bigGap / 2;
    margin-top: $bigGap;
    @include fontSize(21px, 700);
    color: $textColor;
  }
}

.input-price {
  margin-top: $smallGap / 2;
  padding: $smallGap / 2;
  width: 80px;
  @include fontSize(16px, 600);
  -webkit-appearance: none;
  color: $titleColor;
  border: 1px solid $textColor;
  border-radius: 3px;
  outline-color: $activeColor;

  &::placeholder {
    color: $buttonColor;
  }
}

.input-to,
.input-from {
  @include fontSize(19px, 700);
  color: #7c7c7c;
}

.input_active {
  color: $activeColor;
}

.container {
  display: flex;
  justify-content: center;
}

.container-radio {
  display: flex;
  flex-direction: column;
}

.option {
  @include fontSize(16px, 400);
  color: $titleColor;
  cursor: pointer;

  &_active {
    color: $activeColor;
  }
}

.radio {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid $activeColor;
  margin-right: $smallGap / 2;
  background-color: $backgroundColor;
  position: relative;
  top: 1px;
  outline: none;
  cursor: pointer;
}

.radio:checked {
  border: 5px solid $textColor;
  background-color: $activeColor;
}

:disabled {
  color: $backgroundColor;
}

.input-radio {
  margin-bottom: $smallGap;
  display: flex;
  align-items: center;
}

.button {
  padding: $smallGap $middleGap;
  @include fontSize(16px, 700);
  background-color: $buttonColor;
  color: $textColor;

  &-usd {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
  }

  &-uah {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
}

.currency_active {
  background: $textColor;
  color: $activeColor;
}
