.App {
  display: flex;

  &-Sidebar {
    width: 35%;
    padding-right: 3vw;
    padding-left: 3vw;
    padding-bottom: 40px;
  }

  &-Content {
    width: 70%;
    min-height: 100vh;
    border-left: 1px solid lightgray;
    padding: 30px 3vw;
  }
}

@media (max-width: 1190px) {
  .App {
    &-Sidebar {
      width: 40%;
    }

    &-Content {
      width: 60%;
    }
  }
}

@media (max-width: 767px) {
  .App {
    display: flex;
    flex-direction: column;

    &-Sidebar {
      width: 100%;
      border-right: none;
      padding: 0 5vw;
    }

    &-Content {
      width: 100%;
      border-left: none;
      padding: 40px 5vw;
      min-height: 0;
    }
  }
}
